.git/
.dvc/cache/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.ipynb_checkpoints/
mlruns/
mlartifacts/
mlflow.db
.env
.env.*
data/silver/
data/gold/
models/*.pt
models/*.pth
notebooks/
docs/
*.pdf
.DS_Store
Thumbs.db
